<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить проект</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Admin Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('list_projects') }}">Проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('list_ips') }}">ИП - шники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('list_goods') }}">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('list_employees') }}">Сотрудники</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
<html